@import '../../styles/global.scss';

.base-modal {
    text-align: center;
    margin: auto;
    border-radius: 4px;
    background-color: white;
}

.modal {
    @extend .base-modal;
    width: 40vw;
    animation: openNote 0.5s ease-in-out;
}

.header-note {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    width: 100%;
    border-radius: 4px 4px 0px 0px; 
    height: 2rem;
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.body-container {
    border-top: 1px solid #a7a7a7;
    border-radius: 15px 15px 4px 4px; 
    background-color: white;
    margin-top: 0.5rem;
}

.span-title {
    text-align: start;
    width: 94%;
    font-size: 1rem;
}

.description-container {
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 1rem
}

.mini-modal {
    @extend .base-modal;
    margin: 0;
    height: 14rem;
    border: 0.1rem solid $pastel-color-light-green;
    width: 10rem;
    margin: 0.5rem;
    animation: initialStateBox 0.5s ease-in-out;
}

.button-container-save {
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.save-btn {
    padding: 10px;
    border-radius: 4px;
    margin-top: 1rem;
}

.fa-xmark{
    float: right;
}


@include mobile {
    .modal {
        width: 96vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    .button-container-save {
        position: fixed;
        bottom: 0;
        display: block;
    }

    .save-btn {
        padding: 0;
        border-radius: 4px;
        width: 90vw;
        height: 40px;
    }

    .title-container {
        margin: 2rem 0;
        width: 97%;
    }
    .description-container {
        height: 55vh;
    }
}