@keyframes initialStateBox {
    0% {
		opacity: 0;
        transform: translateY(5rem);
	}
    100% {
		opacity: 1;
        transform: translateY(0rem);
	}
}

@keyframes openNote {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes closeNote {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
} 

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}