@keyframes initialStateBox {
    0% {
		opacity: 0;
        // transform: translateX(10rem);
        transform: translateY(5rem);
	}
    100% {
		opacity: 1;
        // transform: translateX(10rem);
        transform: translateY(0rem);
	}
}