@import '../../styles/global.scss';

body {
    background: linear-gradient(45deg, #001c33 0%, $theme1-color-primary 30%, $theme1-color-ternary 50%, $theme1-color-secondary 80%, #001c33 100%);
    background-color: #001c33;
    height: 100vh;
}
.add-note-btn{
    width: 20%;
    padding: 10px;
    margin: auto;
    border-radius: 4px;
}

.danger-btn{
    width: 20%;
    padding: 10px;
    margin: auto;
    background-color: rgb(196, 54, 54);
    border-radius: 4px;
}

.button-container{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}



.notes-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    width: 50%;
    height: 100%;
    margin: auto;
}