@import './typography.scss';
@import './variables.scss';
@import './mixins.scss';

*,
* {
  box-sizing: content-box;
}

html {
  box-sizing: inherit;
}

body {
  background-color: $body-color;
}

.pointer{
  cursor: pointer;
}