$body-color: #f3f2ef;

//Pastel Color
$pastel-color-blue: #84b6f4;
$pastel-color-red: #ff6565;
$pastel-color-pink: #ff9c9c;
$pastel-color-cyan: #9bfae0;
$pastel-color-light-green: #c3f9ea;


$mobile-width: 600px;
$middle-min-width: 800px;
$middle-max-width: 1000px;
$tablet-width: 1250px;