@import '../src/styless/global.scss';

.title-initial-page {
  font-size: 50px;
}

.login-sign-box {
  border: 0.5rem solid $pastel-color-red;
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-color: $pastel-color-pink;
  justify-content: center;
  align-items: center;
  color: $pastel-color-red;
  transition: width, height 0.5s;
}

.login-sign-box:hover {
  width: 21rem;
  height: 21rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-log {
  width: 100%;
}

.initial-boxes {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}