@import '../../styles/global.scss';
@import '../../styles/keyframes.scss';

.title-box {  
  display: flex;
  justify-content: center;
  height: 30%;
}

.title-box h1 {
  position: relative;
  display: block;
  padding: 5px;
}
 
.title-box h1::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.title-box h1:hover::before {
  transform: scaleX(1);
}

.title-box[data-animation="to-left"] h1::before {
  transform-origin: right;
}

.title-initial-page {
  width: auto;
  font-size: 50px;
  color: #fff;
}

.box {
  width: 20rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: initialStateBox 0.5s ease-in-out;
}

.login-box {
  @extend .box;
  border: 0.2rem solid $pastel-color-red;
  border-radius: 0.5rem;
  background-color: $pastel-color-pink;
  color: $pastel-color-red;
  box-shadow: 1px 0px 15px 2px $pastel-color-red;
  -webkit-box-shadow: 1px 0px 15px 2px $pastel-color-red;
  -moz-box-shadow: 1px 0px 15px 2px $pastel-color-red;
}

.sign-box {
  @extend .box;
  border: 0.2rem solid $pastel-color-blue;
  border-radius: 0.5rem;
  background-color: $pastel-color-cyan;
  color: $pastel-color-blue;
  box-shadow: 1px 0px 15px 2px $pastel-color-blue;
  -webkit-box-shadow: 1px 0px 15px 2px $pastel-color-blue;
  -moz-box-shadow: 1px 0px 15px 2px $pastel-color-blue;
}

.login-box:hover, .sign-box:hover {
  transform: translateY(1rem);
  transition: transform .2s;
}
.login-box::after, .sign-box::after {
  transform: translateY(-1rem);
  transition: transform .2s;
}

.button-form {
  color: black;
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg, $pastel-color-blue 0%, $pastel-color-cyan 40%, $pastel-color-pink 75%, $pastel-color-red 100%);
}

.form-login, .form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 1s;
}

.input-log {
  width: 100%;
}

.initial-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: auto;
}

.content { 
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(90deg, $pastel-color-blue 0%, $pastel-color-cyan 40%, $pastel-color-pink 75%, $pastel-color-red 100%);
}

.content-menu {
  width: 35%;
  background-color: rgb(37, 37, 37);
}

.content-animation {
  width: 65%;
  display: flex;
  align-items: center;
}

// .google-img {

// }

.google-img:hover {
  cursor: pointer;
}

@include mobile {
  body {
    height: 100vh;
  }
  .initial-boxes {
    display: block;
    width: 100%;
  }

  .login-sign-box {
    width: auto;
    height: auto;
    margin-top: 2rem;
  }

  .title-initial-page {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
  }
  .login-sign-box:hover {
    width: auto;
    height: auto;
  }
  .box{
    margin: auto auto 5vh auto;
    height: 15vh;
  }
}

@include tablet {
  .login-sign-box {
    width: 18rem;
    height: 18rem;
  }

  .login-sign-box:hover {
    width: 19rem;
    height: 19rem;
  }

  .initial-boxes {
    width: 75%;
  }
}

@include middle-max {
  .login-sign-box {
    width: 17rem;
    height: 17rem;
  }

  .login-sign-box:hover {
    width: 18rem;
    height: 18rem;
  }

  .initial-boxes {
    width: 80%;
    margin-top: 2vh;
  }
}

@include middle-min {
  .login-sign-box {
    width: 14rem;
    height: 14rem;
  }

  .login-sign-box:hover {
    width: 15rem;
    height: 15rem;
  }

  .initial-boxes {
    width: 90%;
  }
}

.black-hole{
  width: 180px;
  height: 180px;
  background-color: rgb(37, 37, 37);
  margin: auto;
  border-radius: 50%;
  border: 1px solid #cceff7;
  box-shadow: 6px 6px 35px 20px #84b6f4;
  -webkit-animation: rotate 10s linear infinite;
}


@keyframes rotate {
  0% {
    box-shadow: 6px 6px 35px 10px #84b6f4;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 10px 10px 35px 10px #AFE4FE;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 6px 6px 35px 10px #84b6f4;
  }
}

.note-blue-1{
  width: 50px;
  height: 50px;
  background-color: $pastel-color-blue;
  position: absolute;
  top: 45vh;
  border-radius: 50%;
  -webkit-animation: note-1 9s linear infinite;
}

.note-blue-2{
  width: 50px;
  height: 50px;
  background-color: $pastel-color-blue;
  position: absolute;
  top: -38vh;
  border-radius: 50%;
  -webkit-animation: note-1 5s linear infinite;
}

.note-red-1{
  width: 50px;
  height: 50px;
  background-color: $pastel-color-red;
  position: absolute;
  top: -42vh;
  border-radius: 50%;
  -webkit-animation: note-1 7s linear infinite;
}

.note-red-2{
  width: 50px;
  height: 50px;
  background-color: $pastel-color-red;
  position: absolute;
  top: -30vh;
  border-radius: 50%;
  -webkit-animation: note-1 12s linear infinite;
}


@keyframes note-1 {

  0%{
    opacity: 0;
  }

  10%{
    opacity: 1;
  }
  
  90%{
    transform: scale(0.4);
  }

  100% {
    transform: scale(0.005);
    top: 0px;
  }

}